# Prever fechamento do bovespa

### A finalidade desse código é preparar um dataset para utilizar como base de um modelo que prevê o fechamento diário  do bovespa.

In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import numpy as np
from bcb import sgs
from datetime import datetime

In [2]:
# data de início e fim de coleta dos dados
start = '2003-12-01'
end = '2023-10-01'
# tickers que serão utilizados no modelo
tickers = ["^BVSP", "^GSPC", "BRL=X", "^N225", "^NYA", "^IXIC", "^HSI", "^FTSE"]
# df com fechamento do bovespa e abertura dos demais
prev_bov = pd.DataFrame()
# iteração para salvar os valores conforme estipulado 
for ticker in tickers:
    data = yf.download(ticker, start=start, end=end)
    if ticker != "^BVSP":
        prev_bov[ticker]=data['Open']
    else:
        prev_bov[ticker]=data['Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
prev_bov.tail()

,^BVSP,^GSPC,BRL=X,^N225,^NYA,^IXIC,^HSI,^FTSE
Date,,,,,,,,
2023-09-25,115925.0,4310.620117,4.9339,32517.259766,15569.509766,13172.540039,18046.890625,7683.899902
2023-09-26,114193.0,4312.879883,4.9683,32640.050781,15593.730469,13180.959961,17661.849609,7624.000000
2023-09-27,114327.0,4282.629883,4.9862,32023.369141,15381.580078,13115.360352,17472.109375,7625.700195
2023-09-28,115731.0,4269.649902,5.0422,32119.369141,15394.690430,13043.370117,17587.080078,7593.200195
2023-09-29,116565.0,4328.180176,5.0328,32018.640625,15478.070312,13337.709961,17484.949219,7601.899902

In [4]:
# excluindo linhas que contenham pelo menos 1 valor nulo
prev_bov = prev_bov.dropna(how='any')

In [6]:
# renomeando as variáveis 
prev_bov.rename(columns={'^BVSP': 'bovespa',
                        '^GSPC': 'sp500',
                        'BRL=X': 'dolar',
                        '^N225': 'nikkei',
                        '^NYA': 'newyork',
                        '^IXIC': 'nasdaq',
                        '^HSI': 'xangai',
                        '^FTSE': 'londres',}, inplace=True)

In [10]:
prev_bov = prev_bov.round(2)
prev_bov

,bovespa,sp500,dolar,nikkei,newyork,nasdaq,xangai,londres
Date,,,,,,,,
2003-12-01,20521.0,1058.20,2.95,10006.13,6073.00,1972.97,12306.26,4342.6
2003-12-02,20458.0,1070.12,2.92,10452.64,6147.35,1986.80,12526.23,4410.0
2003-12-03,20540.0,1066.62,2.93,10412.24,6139.62,1989.14,12386.01,4378.9
2003-12-04,20414.0,1064.73,2.93,10341.71,6142.78,1966.92,12379.94,4392.0
2003-12-05,20880.0,1069.72,2.94,10406.47,6153.90,1949.26,12309.57,4378.2
...,...,...,...,...,...,...,...,...
2023-09-25,115925.0,4310.62,4.93,32517.26,15569.51,13172.54,18046.89,7683.9
2023-09-26,114193.0,4312.88,4.97,32640.05,15593.73,13180.96,17661.85,7624.0
2023-09-27,114327.0,4282.63,4.99,32023.37,15381.58,13115.36,17472.11,7625.7
2023-09-28,115731.0,4269.65,5.04,32119.37,15394.69,13043.37,17587.08,7593.2
2023-09-29,116565.0,4328.18,5.03,32018.64,15478.07,13337.71,17484.95,7601.9

In [11]:
# exportar resultado para um CSV, que será analisado com R
prev_bov.to_csv('prev_bov.csv', index=True)